<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mybatis.CartMapper">

    <resultMap id="cartMap" type="com.example.mybatis.dto.CartDTO">
        <id column="uid" property="uid"></id>
        <result column="user_uid" property="userDTO.uid"></result>
        <result column="quantity" property="quantity"></result>
        <result column="product_uid" property="productDTO.uid"></result>
    </resultMap>

    <select id="getCartProducts" resultMap="cartMap">
        SELECT cart_tb.uid, cart_tb.quantity, user_uid, product_uid, product_tb.name
        FROM cart_tb
        JOIN user_tb ON cart_tb.user_uid = user_tb.uid
        JOIN product_tb ON cart_tb.product_uid = product_tb.uid
        WHERE cart_tb.user_uid = #{userUid}
        AND cart_tb.uid =#{uid}
    </select>
    <insert id="addToCart">
        INSERT INTO cart_tb(product_uid,quantity,user_uid)
        VALUES(#{productDTO.uid},#{quantity},#{userDTO.uid});
    </insert>
</mapper>