<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mybatis.ProductMapper">

    <resultMap id="productMap" type="com.example.mybatis.dto.ProductDTO">
        <id column="uid" property="uid"></id>
        <result column="name" property="name"></result>
        <result column="brand_name" property="brandName"></result>
        <result column="price" property="price"></result>
        <result column="size" property="size"></result>
        <result column="stock_quantity" property="stockQuantity"></result>
        <result column="description" property="description"></result>

        <association property="categoryDTO" javaType="com.example.mybatis.dto.CategoryDTO">
            <id column="category_uid" property="uid"></id>
            <result column="name" property="name"></result>
        </association>
    </resultMap>
    <insert id="saveProduct" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO product_tb(name, brand_name, price, size, stock_quantity, category_uid
        <if test="description != null and description != ''">
            , description
        </if>

        )
        VALUES (#{name}, #{brandName}, #{price}, #{size}, #{stockQuantity}, #{categoryDTO.uid}
        <if test="description != null and description != ''">
            , #{description}
        </if>
        );
    </insert>

    <insert id="saveProductImages">
        <if test="images != null and images.size() > 0">
            INSERT INTO product_image_tb(url, product_uid)
            VALUES
            <foreach collection="images" item="image" separator=",">
                (#{image.url}, #{image.productDTO.uid})
            </foreach>
        </if>
    </insert>

    <insert id="saveCategory" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO category_tb(name) VALUES (#{name});
    </insert>



</mapper>