<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mybatis.ProductMapper">

    <resultMap id="productMap" type="com.example.mybatis.dto.ProductDTO">
        <id column="uid" property="uid"></id>
        <result column="name" property="name"></result>
        <result column="brand_name" property="brandName"></result>
        <result column="price" property="price"></result>
        <result column="size" property="size"></result>
        <result column="stock_quantity" property="stockQuantity"></result>
        <result column="description" property="description"></result>

        <association property="categoryDTO" javaType="com.example.mybatis.dto.CategoryDTO">
            <id column="category_uid" property="uid"></id>
            <result column="name" property="name"></result>
        </association>
    </resultMap>
    <insert id="saveProduct">
        INSERT INTO product_tb(name,brand_name,price,size,stock_quantity,description, category_uid)
        VALUES(#{name},#{brand_name},#{price},#{size},#{stock_quantity},#{description}, #{categoryDTO.uid});
    </insert>

</mapper>