<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mybatis.ReviewMapper">

    <resultMap id="reviewMap" type="com.example.mybatis.dto.ReviewDTO">
        <id column="uid" property="uid"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="write_date" property="writeDate"></result>
        <result column="modify_date" property="modifyDate"></result>
        <result column="view_count" property="viewCount"></result>
        <result column="deleteyn" property="deleteyn"></result>
        <result column="rating" property="rating"></result>
        <result column="image" property="image"></result>

        <association property="userDTO" javaType="com.example.mybatis.dto.UserDTO">
            <id column="user_uid" property="uid"></id>
            <result column="nickname" property="nickname"></result>
        </association>

        <association property="productDTO" javaType="com.example.mybatis.dto.ProductDTO">
            <id column="product_uid" property="uid"></id>
            <result column="name" property="name"></result>
        </association>

    </resultMap>
    <select id="getReviewsByProduct" resultMap="reviewMap">
        SELECT review_tb.uid, review_tb.title, review_tb.content, review_tb.rating, review_tb.write_date, review_tb.view_count, review_tb.image, user_tb.nickname, user_uid, product_uid, product_tb.name
        FROM review_tb
        JOIN user_tb ON review_tb.user_uid = user_tb.uid
        JOIN product_tb ON review_tb.product_uid = product_tb.uid
        WHERE review_tb.product_uid = #{productUid}
        AND deleteyn = 'n'
        LIMIT #{offset}, #{pageSize};
    </select>

    <select id="getReviewCountByProduct" resultType="int">
        SELECT COUNT(*)
        FROM review_tb
        WHERE product_uid = #{productUid}
        AND deleteyn = 'n';
    </select>


    <insert id="saveReview">
        INSERT INTO review_tb(title,content,rating,image,user_uid,product_uid)
        VALUES(#{title},#{content},#{rating},#{image},#{userDTO.uid},#{productDTO.uid});
    </insert>

    <update id="updateReview">
        UPDATE review_tb
        SET
        title = #{title},
        content = #{content},
        rating = <choose>
        <when test="rating != null">
            #{rating}
        </when>
        <otherwise>
            rating
        </otherwise>
    </choose>,
        image = <choose>
        <when test="image != null">
            #{image}
        </when>
        <otherwise>
            image
        </otherwise>
    </choose>
        WHERE uid = #{uid};
    </update>

    <update id="deleteReview">
        UPDATE review_tb
        SET deleteyn = 'y'
        WHERE uid = #{uid}
    </update>

</mapper>